<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
</head>
<body class="container-fluid">
  <header>
    <%- include('./partials/header')%>
  </header>
    <%if(hasOwnProperty('error')){%>
      <h1>Emailnya yang bener oi......</h1>
    <%}%>
    <form action="/students/add" method="post">
      Student First Name:<br>
      <input type="text" name="first_name">
      <br>
      Student Last Name:<br>
      <input type="text" name="last_name">
      <br>
      Student Email:<br>
      <input type="text" name="email">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  <footer>
    <%- include('./partials/footer')%>
  </footer>
</body>
</html>
